<h><b>Your Iching Reading</b></h1><br><br>
<%= image_tag('yin.jpg') %>
<%= lines %>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <br>
<b>Your Question was:</b> <%= Ask.last["question"] %><br><br><br>
Your Iching reading will consist of 6 lines. Each line is create by flipping a Yin/Yang coin(one side on the coin is Yin and the other side Yang) 3 times. There are four possible results for each line "Pure Yin", "Pure Yang", "Changing Yin" or "Changing Yang". <br>
The six lines will form a hexagram which can take on one of 64 different forms. Each of the 64 hexagrams has a unique name and meaning.<br><br>
<b>Here are the results of your Iching coin flip:</b><br>
Line 6 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[5][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[5][1] %>.<br>
Line 5 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[4][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[4][1] %>.<br>
Line 4 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[3][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[3][1] %>.<br>
Line 3 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[2][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[2][1] %>.<br>
Line 2 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[1][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[1][1] %>.<br>
Line 1 coins are <%= a = (0..2).to_a.collect { |x| @cast_lines[0][0][x].keys[0] } * ", "  %>. Line equals <%= @cast_lines[0][1] %>.<br><br>

Here is your Iching hexagram:<br>
<b>(First Hexagram)Your hexagram number is:</b> <%= Hex.find(hexagram hex_line_name)["hex_id"] %><br>
<b>(First Hexagram)Hexagram Name:</b> <%= Hex.find(hexagram hex_line_name)["name"] %><br>
<b>Hexagram Meaning:</b> <%= Hex.find(hexagram hex_line_name)["meaning"] %><br><br>
<b>Hexagram Keywords:</b> <%= Hex.find(hexagram hex_line_name)["keywords"] %><br>
<b>Hexagram Symbols:</b> <%= Hex.find(hexagram hex_line_name)["symbol"] %><br>
<b>Top Trigram:</b> <%= Hex.find(hexagram hex_line_name)["top"] %><br>
<b>Bottom Trigram:</b> <%= Hex.find(hexagram hex_line_name)["bottom"] %><br>
<b>Your Changed Line:</b> <%= if changing_lines[0].to_i >= 1 and changing_lines[0].to_i < 6 
				    'Your Changed line is ';changing_lines[0].to_i + 1
				  else
				  if changing_lines == [0]
				     hex_line_name[changing_lines[0]]
				  else
				     changing_lines
				  end
				  end%><br><br><br><br>
<b>(Second Hexagram)Your Transformed hexagram number is:</b> <%= Hex.find(transformed_hex)["hex_id"] %><br>
<b>(Second Hexagram)Your Transformed Hex:</b> <%= Hex.find(transformed_hex)["name"] %><br>
<b>Hexagram Meaning:</b> <%= Hex.find(transformed_hex)["meaning"] %><br>
<b>Hexagram Keywords:</b> <%= Hex.find(transformed_hex)["keywords"] %><br>
<b>Hexagram Symbols:</b> <%= Hex.find(transformed_hex)["symbol"] %><br>
<b>Top Trigram:</b> <%= Hex.find(transformed_hex)["top"] %><br>
<b>Bottom Trigram:</b> <%= Hex.find(transformed_hex)["bottom"] %><br>
  </tbody>
</table>

<br>

<div id="wrapper"><%= button_to 'Click Here To Ask the Iching Oracle another question.', 'asks/new', :method => :get %></div>
<style>#wrapper input {font-size:20px;background: #000000; color: #0dd39d}</style>
